.cow-row {
  container-type: size;
  inline-size: 100%;
  aspect-ratio: 16 / 9;
  display: grid;
  place-items: end center;
  overflow: visible;
  margin-top: auto;
  /* background-color: blue; */
}

.background-sky {
  grid-area: 1 / 1;
}

.cow-button {
  grid-area: 1 / 1;
  inline-size: 70%;
  translate: 0 -20cqb;
}

.cow-button>.cow {
  inline-size: 100%;
  block-size: auto;
  object-fit: contain;
  display: block;
}

.field {
  display: block;
  inline-size: 100%;
  block-size: auto;
  align-self: end;
  object-fit: contain;
  object-position: bottom center;
  user-select: none;
  grid-area: 1 / 1;
  translate: 0 -2cqb;
  /* background-color: green; */
}

.count-display {
  font-family: "Comic Sans MS", "Comic Sans", "Marker Felt", "Chalkboard SE", "Chalkboard", "Segoe Print", "Bradley Hand", cursive;
  color: #ff2b2b;
  font-weight: 700;
  font-size: 12cqb;
  font-synthesis: style;
  font-style: oblique 7deg;
  line-height: 1;
  text-align: center;
  -webkit-text-stroke: 2px #000;
  text-shadow:
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0 0 10px rgba(0, 0, 0, 0.25);
  margin: 1rem;
  user-select: none;
  margin-top: 1cqb;
}

.back-button {
  font-size: 10cqb;
  line-height: 1;
  align-self: start;
  color: #3179c2;
}
